body{
  background-color: ivory;
  user-select: none;
}

.clicked{
  background-color: palegoldenrod !important;
  /* transition: background-color .2s; */

}
.lastClicked{
  background-color: orange !important;
  /* transition: background-color .2s; */
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-family: 'Sniglet', cursive;
  color: darkslategrey;
  font-size: 50px;
  padding: 0;
  margin: 0;
  align-self: left;
  margin-top: 20px;
}
.option:hover{
  background-color: palegoldenrod !important;
}