body{
  background-color: ivory;
  user-select: none;
}

.clicked{
  background-color: palegoldenrod !important;
  /* transition: background-color .2s; */

}
.lastClicked{
  background-color: orange !important;
  /* transition: background-color .2s; */
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  font-family: 'Sniglet', cursive;
  color: darkslategrey;
  font-size: 50px;
  padding: 0;
  margin: 0;
  align-self: left;
  margin-top: 20px;
}
h2{
  font-family: 'Sniglet', cursive;
  color: darkslategrey;
  font-size: 28px;
  padding: 0;
  margin: 0;
  align-self: left;
  margin-top: 10px;
  word-wrap: normal;
}
.option:hover{
  background-color: palegreen !important;
  color: black !important;
}

.startOption:hover{
  background-color: lightblue !important;
}
input{
  font-family: 'Sniglet', cursive;
  color: darkslategrey;
  font-size: 24px;
  background: whitesmoke;
  border: 2px solid lightgray;
  display: block;
  margin: auto;
  text-align: center;
}
li{
  color: darkslategray;
  font-family: 'Sniglet', cursive;

}